html, body {    
    margin: 0;
    height: 100%;
}

canvas {
    border: 1px black solid;
}

#canvas-wrap {
    display: flex;
    height: 100%;

    position: relative;
}

#game-board {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#bricks {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}